html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
}

.login_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  background-color: #eff0ef;
  border: 2px solid black;
  width: 350px;
  height: 250px;
}

.login_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 210px;
  /* border: 2px solid black; */
}
.login_id,
.login_password {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 200px;
}

span {
  width: 30px;
  text-align: right;
  font-weight: bold;
}

.login_input input {
  flex: 1;
  height: 32px;
}

button {
  margin-top: 5px;
  height: 82px;
  width: 90px;
  /* position: relative; */
}