@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.a11y-hidden {
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 50px;
    align-items: center;
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: white;
}

header {
    margin-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_clock {
    position: relative;
    width: 265px;
}

.title_img {
    position: absolute;
    width: 564px;
}

.title_img .img_title {
    width: 100%;
    height: auto;
}

.intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 78px;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 91px;
}

.quotes {
    position: absolute;
}

.explain {
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}

.explain strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.field {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}
.time {
    display: flex;
    justify-content: center;
    margin-bottom: 115px;
}

.input {
    font-size: 24px;
}
.input div {
    display: flex;
    align-items: center;
}

.input input {
    padding: 15px 20px;
    margin: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
    width: 200px;
}

.input input::placeholder {
    color: #BABCBE;
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    background-color: #FCEE21;
    border: none;
    border-radius: 30px;
    padding: 21px 49px;
    cursor: pointer;
    word-break: keep-all;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.start .btn_wrap {
    position: relative;
    
}
.start .click_img {
    /* display: flex; */
    position: absolute;
    right: -70px;
    bottom: 0px;
}

.result_loading {
    display: none;
    /* display: flex; */
    justify-content: center;
    margin-bottom: 80px;
}

.result_loading .img_wrap {
    width: 100px;
    height: 100px;
}

.result_loading .img_wrap img {
    width: 100%;
    height: auto;
    animation: rotate 1.1s infinite linear;
}

.result {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 80px;
}

.result .result_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .result_wrap div {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.result span {
    padding: 0 20px;
    font-family: 'GmarketSansBold';
    font-size: 72px;
}

.result .button {
    display: flex;
    justify-self: center;
    margin-top: 127px;
}

.result .go button {
    color: #5B2386;
}

.button .share button {
    background-color: #FFFFFF;
    margin-left: 18px;
    color: #5B2386;
}

#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#modal .modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

#modal .cheer {
    font-family: 'OTEnjoystoriesBA';
    color: #5B2386;
    text-align: center;
}

#modal .cheer h1 {
    font-size: 80px;
}

#modal .cheer h3 {
    font-size: 30px;
}

#modal .licat_img {
    margin-bottom: 20px;
}

#modal .close_btn {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);
    color: #5B2386;
    margin-bottom: 20px;
}

#modal .btn p {
    color: #747474;
    font-size: 13px;
    text-align: center;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#copyright p {
    font-size: 12px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
}

