@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.a11y-hidden {
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: white;
}

header {
    margin-top: 50px;
}
h1 {
    display: flex;
    justify-content: center;
}

h1 .img_clock {
    width: 265px;
}
h1 .img_title {
    position: absolute;
    width: 564px;
    top: 120px;
}

div {
    display: flex;
}

.intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 78px;
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    margin-bottom: 102px;
}

.quotes {
    position: absolute;
}

.explain {
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}

.explain strong {
    font-family: 'GmarketSansBold';
    font-size: 24px;
}

.field {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
}
.time {
    display: flex;
    justify-content: center;
    margin-bottom: 115px;
}

.input {
    font-size: 24px;
}
.input div {
    display: flex;
    align-items: center;
}

.input input {
    padding: 15px 20px;
    margin: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
    width: 200px;
}

.input input::placeholder {
    color: #BABCBE;
}

button {
    display: flex;
    align-items: center;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    background-color: #FCEE21;
    border: none;
    border-radius: 30px;
    padding: 21px 49px;
    cursor: pointer;
    word-break: keep-all;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.start .btn_wrap {
    position: relative;
}
.start .click_img {
    position: absolute;
    right: -75px;
    bottom: -25px;
}