a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input[type=password], input[type=text], ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}
ol, ul {
    list-style: none;
}

@font-face {
    font-family: nexon;
    src: url(../font/NEXONLv1GothicRegular.ttf) format('truetype');
}

html {
  width: 100%;
  height: 100%;
}

head {
  display: none;
}

body, button, input, input[type=password], input[type=text] {
  color: #17191d;
  font: 12px nexon;
}

button, input, input[type=password], input[type=text] {
  background-color: transparent;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;
  line-height: normal;
  overflow: scroll;
  margin: 8px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

button {
  cursor: pointer;
}

.acchidden {
  position: absolute;
  overflow: hidden;
  clip :rect(0 0 0 0 );
  height: 1px;
  width: 1px;
  margin: -1px;
}

#wrapper {
  position: relative;
  max-width: 492px;
  min-width: 360px;
  min-height: 100vh;
  padding: 0 16px 200px;
  margin: 0 auto;
}

header {
  min-width: 328px;
  padding-top: 120px;
  text-align: center;
}

header .logo {
  display: inline-block;
  margin: 0 auto;
  width: 120px;
  height: 20px;
}

header .logo a {
  display: block;
  width: 120px;
  height: 20px;
  background: url(../logo_nexon.png) no-repeat center;
}

.headerMsg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  font-size: 12px;
  color: #fff;
  background-color: #17191d;
  z-index: 1000;
}

.headerMsg p {
  padding: 7px 14px;
}

.otpMsg {
  display: inline;
}

.tab {
  display: block;
  height: 33px;
  margin-top: 27px;
}

header .tab ul {
  display: inline-block;
}

header .tab li {
  position: relative;
  float: left;
  display: block;
}

header .tab button {
  display: block;
  width: 105px;
  height: 34px;
  padding-bottom: 1px;
  font-weight: bold;
  color: #9fa1a7;
  text-align: center;
  border-bottom: 1px solid #e5e8eb;
  transition: all .15s linear;
  outline: 0;
}

header .tab button:hover {
  color: #07f;
  transition: all .2s linear;
}

.layoutOtp .btOtp button {
  color: #17191d;
  font-weight: bold;
  border-bottom: 2px solid #17191d;
  cursor: default;
}

.layoutOtp .btOtp button:hover {
  color: #17191d;
}

main {
  position: relative;
}

.otpLogin {
  display: block;
  padding-top: 40px;
}

.otpLoginMsg {
  padding-bottom: 40px;
  letter-spacing: -.6px;
  text-align: center;
  color: #737881;
}

strong {
  font-weight: 700;
}

.otppass {
  height: 68px;
}

.otppass div {
  float: left;
  width: 50%;
}

.otppass input {
  width: 100%;
  height: 56px;
  padding: 18px 12px;
  border: 1px solid #e5e8eb;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  outline: 0;
  transition: border-color .15s linear;
}
.otppass input:focus {
  border: 2px solid #07f;
  padding: 17px 11px;
  transition: border-color .2s linear;
}

.otppass .otppass1 {
  padding-right: 4px;
}

.otppass2 {
  padding-left: 4px;
}

.inputMsg {
  display: none;
  height: 28px;
  margin-top: -6px;
  font-weight: 700;
  letter-spacing: -.6px;
  text-align: left;
  color: #ff6060;
}

.btLogin {
  padding-top: 18px;
}

.btLogin button {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #17191d;
  transition: all .15s linear;
}

.btLogin button:hover {
  outline: 0;
  background-color: #07f;
  transition: all .2s linear;
}

.optGuide {
  display: block;
  position: relative;
  padding-top: 20px;
  margin-top: 68px;
  border-top: 1px solid #e5e8eb;
}

.optGuide h3 {
  font-weight: 700;
  letter-spacing: -.6px;
  color: #737881;
}

.optGuide a {
  position: absolute;
  top: 20px;
  right: 0;
  letter-spacing: -.6px;
  font-weight: 700;
  color: #9fa1a7;
  transition: all .15s linear;
  
}

.optGuide a:hover {
  color: #07f;
  transition: all .2s linear;
}

a {
  text-decoration: none;
}

.optGuide ol {
  padding-top: 10px;
}

.optGuide li {
  line-height: 1.67;
  letter-spacing: -.6px;
  text-align: left;
  color: #9fa1a7;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 328px;
  height: 80px;
  padding: 32px 0 0;
  text-align: center;
}

footer p {
  font-size: 11px;
  color: #9fa1a7;
}